@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.3em;
}

:root {
    --cor0: #c5ebd5;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font_pad: Arial, Verdana, Helvetica, sans-serif;
    --font_destaq: 'Bebas Neue', 'cursive';
    --font_and: 'Android', 'cursive';
}

body {
    background-color: var(--cor0);
    font-family: var(--font_pad);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 55px;
    min-width: 350px;
}

header > h1{ 
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.574);
}

header > p { 
    text-align: center;
    font-family: var(--font_pad);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.586);
    padding-bottom: 30px;
}

header > p {
    color: #fff;
}

header > h1 {
    color: #fff;
    font-family: var(--font_destaq);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    min-width: 350px;
}

nav > a:hover {
    font-size: 1.1em;
    background-color: #3DDC84;
    padding: 6px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:active {
    color: black;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}

main a {
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 1px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor3);
}

main {
    padding: 20px;
    background-color: #fff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.498);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

picture > img { 
    width: 100%;
}

article > h1 {
    font-size: 1.8em;
    font-family: var(--font_and);
    color: var(--cor5);
    font-weight: normal;
}

article > p {
    margin: 20px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.2em;
}

article > h2 {
    font-family: var(--font_and);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), #fff);
    text-indent: 15px;
    border-radius: 3px;
    font-weight: normal;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
    height: 0px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

aside > h3 {
    background: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px -10px -10px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 0px black;
}

aside > ul {
    list-style: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

aside p {
    padding-top: 20px;
}

aside a {
    background-color: var(--cor3);
}

aside abbr {
    text-decoration: none;
}

footer {
    background-color: var(--cor5);
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #83E1AD;
}

a.externo::after {
    content: '\00A0\1F517';
}

article img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
